.header {
    &-top {
        height: 4.2rem;
    }

    &-main {
        height: 12rem;
    }
}

.btn-user {
    margin-right: 1.7rem;
}

.shop-count {
    color: $gray;
}

.phone-cell {
    position: relative;
    
    display: none;
    &-content {
        display: none;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.2;

    button {
        font-weight: 300;
        margin-bottom: 8px;
        border-bottom: 1px solid $gray;
    }

    a:hover {
        text-decoration: underline;
    }
}

@include mobile {
    .contacts {
        display: none;
    }

    .phone-cell {
        display: block;
        margin-right: 40px;
    }

    .phone-cell--active {
        .contacts {
            display: inline-block;
            position: absolute;
            top: 55px;
            left: 50%;

            width: 225px;
            height: 100px;
            text-align: center;
            transform: translateX(-50%);

            z-index: 2;
            
            box-shadow: 0px 0px 6px 3px rgb(103 126 165 / 22%);
            background-color:#f0f3f8;
            border-radius: 10px;
            padding: 5px 10px;

            button, a {
                padding-bottom: 10px;
            }
        }
    }
}