.nav {
    &-item {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding: 15px 0;
        flex: 1 1 125px;
        font-size: 1.4rem;
        letter-spacing: 0.5px;

        &--active {
            border-top: 3px solid #ee3346;
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        &-icon {
            min-width: 38px;
            min-height: 38px;
        }

        &-text {
            margin-top: 1rem;
            text-align: center;
            padding: 0 5px;
            color: $gray;
        }

        &:hover {
            background-color: rgba(194, 53, 100, 0.05);
            border-color: rgba(194, 53, 100, 0.1);
        }
    }

    &-list-route {
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    &-route {
        display: flex;
        align-items: center;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        a {
            margin-right: 0.9rem;
            color: $gray9;
        }

        &--active {
            a {
                font-weight: 400;
                color: $main-color-text;
            }
        }
    }
}

.burger {
    &-nav {
        display: none;
    }
}

@include laptop {
    .nav {
        &-item,
        &-list-route {
            font-size: 1.25rem;
        }
    }
}

@include tablet {
    .open-navigation {
        overflow-y: hidden;

        .nav {
            &-list {
                display: block;
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 3;

                overflow-y: auto;
                background-color: #fff;
            }

            &-item {
                height: auto;
            }
        }

        .burger {
            &-nav {
                top: 5px;
            }

            &-item {
                background: none;

                &:before {
                transform: rotate(45deg) translate(5px, 6px);
                }

                &:after {
                transform: rotate(-45deg) translate(5px, -6px);
                }
            }
        }
    }

    .burger {
        &-nav {
            display: inline-block;
            position: fixed;
            width: 40px;
            height: 40px;
            left: 23px;
            top: 0;
            z-index: 4;
        }

        &-item {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #000000;
            position: relative;
            pointer-events: none;

            &:before,
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #000000;
                position: absolute;
                left: 0;
                z-index: 1;
            }

            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }
    }

    .bg-gray {
        background-color: transparent;
    }

    .nav-list {
        display: none;

        &-route {
        flex-wrap: wrap;
        }
    }
}
