.btn-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    
    span {
        margin-left: 7px;
    }
}

.btn-outline {
    border: 1px solid #000;
    border-radius: 10px;
}