@mixin laptop {
    @media (max-width: 890px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 470px) {
        @content;
    }
}
